﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="EYB_Crawler._default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <span> Welcome to EYB-Crawler 1.0. </span>
            <span> Crawling Services are configured through SQL Server.</span>
        </div>
    </form>
</body>
</html>
